body {
background: #faf7f2;
color: #2b2b2b;
font-family: "Georgia", serif;
margin: 0;
}


header {
background: #e3d9c6;
padding: 2rem;
text-align: center;
}


.tagline {
font-style: italic;
}


.blog {
max-width: 700px;
margin: auto;
padding: 2rem;
}


article {
margin-bottom: 2.5rem;
}


.date {
font-size: 0.8rem;
color: #777;
}


.promo {
border-top: 2px dashed #aaa;
padding-top: 1rem;
font-size: 0.9rem;
}


footer {
text-align: center;
font-size: 0.8rem;
color: #666;
padding: 1rem;
}
