body {
  margin: 0;
  background: black;
  color: #39ff14;
  font-family: "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.terminal {
  text-align: center;
  max-width: 600px;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
.blink {
  animation: blink 1.2s steps(1, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
