body {
  margin: 0;
  background: black;
  color: #39ff14;
  font-family: "Courier New", monospace;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.terminal {
  text-align: center;
  max-width: 600px;
}

/* links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* blinking system status */
.blink {
  animation: blink 0.9s steps(1, start) infinite;
  text-shadow: 0 0 6px rgba(0, 255, 0, 0.6);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
#status.blind {
  color: red;
  text-shadow: 0 0 6px rgba(255, 0, 0, 0.6);
  animation: none;
}

input {
  background: black;
  border: 1px solid #39ff14;
  color: #39ff14;
  font-family: inherit;
  padding: 0.5rem;
  width: 220px;
  text-align: center;
}
