body {
  margin: 0;
  background: black;
  color: #39ff14;
  font-family: "Courier New", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.terminal {
  text-align: center;
  max-width: 600px;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
.blink {
  animation: blink 0.9s steps(1, start) infinite;
  text-shadow: 0 0 6px rgba(0, 255, 0, 0.6);
}

